# Python packages installed with pip inside the IIBacFinder conda environment
fastaparser
peptides
pandas_ml
torch==1.13.1
pyrodigal>=3.7
spacy==3.7.4
fastai==1.0.40
#git+https://github.com/fastai/fastai.git
git+https://github.com/tlawrence3/amPEPpy.git
