# Python packages installed with pip inside the IIBacFinder conda environment
fastaparser
peptides
pandas_ml
torch==1.13.1
pyrodigal>=3.7
git+https://github.com/fastai/fastai.git@fee0e6a0b3af033d41d3468df1c138aecb134926
git+https://github.com/tlawrence3/amPEPpy.git
